<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">满足您的需求</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i>
                    <h3>服务体验</h3>
                    <p class="text-muted">从设计到推广，给您带来绝佳的VIP服务体验。</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>快速发布</h3>
                    <p class="text-muted">时间就是金钱，根据您的题材快速设计出针对性产品!</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>优质内容</h3>
                    <p class="text-muted">在快速构建的基础上，注重设计理念，让设计为生活而存在</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>用心服务</h3>
                    <p class="text-muted">公司奉行客户至上的服务理念，用我们的行动换取客户对我们服务的满意!</p>
                </div>
            </div>
        </div>
    </div>
</section>
